@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Itim&family=Roboto&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Itim&display=swap');

/*probar menu hamb*/

#hamburger-menu {
    display:none;
}

#hamburger-menu-button {
    display: none;
}


/* Media query */
@media (max-width: 768px) {
   
       

        #hamburger-menu {
          display: none;
          flex-direction:column;
          position: absolute;
          top: 70px;
          right: 45px;
          background-color: black;
          font-size: 20px;
          color:white;
          padding: 20px;
        }
        #hamburger-menu a{
            color:#fff000;
            text-decoration: none;
        }

        
        #hamburger-menu-button {
          background-color: white;
          display: block;
          position: absolute;
          top: 20px;
          right: 20px;
          height: 25px;
          width: 25px;
          box-shadow: none;
        }
      
      
    
    .youtube {
        position: relative;
        padding-bottom: 56.25%;
        height: 0;
        overflow: hidden;
        max-width: 100%;
    }
      
    .youtube iframe {
        position: absolute;
        top: 120px;
        left: 0;
        width: 50%;
        height: 50%;
    }
    
   

    .menuprincipal {
  display: none;
    }
    
    header .contenedor{
        width: 100px;
    }

}

/*body*/

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


body {
background-color:whitesmoke;
}

p {
    font-family: 'Roboto', sans-serif;
    font-size: 20px;
    color: black;
    display: inline;
    background:white;
    padding: 4px;
    line-height: 1.6;
}


/*header*/

header {
    background-color:#fff000;
    color: black;
    padding: 20px 0;
    font-family: impact;
}
header .contenedor {
max-width: 1200px;
height: 800px;
margin-left: 50px;
}

header .fila {
    margin-left: 10px;
}

header h1 {
    margin-top: 0;
    font-size: 50px;
}
header h2 {
    margin-top: -10px;
    padding-left: 70px;
    font-weight: normal;
}
header .menuprincipal {
    margin-top: 10px;
}

header .menuprincipal a {
    color: black;
    text-decoration: none;
    margin-right: 20px;
    font-size: 30px;
    transition: 0,7s ease;
}
header .menuprincipal a:hover {
    transition: 0.7s ease;
color:white}

header .imagencen {
    margin-left:35%;
    margin-top: 2%;
    width: 400px;
    height: 510px;
    background-color: aqua;
}



/*BAJAR MAS LENTO DEL MENU
#sobremi:target{
    transition: all 0.2s ease-in-out;
    transform: scale(1.1);
}

#experiencia:target{
    transition: all 0.2s ease-in-out;
    transform: scale(1.1);
}

#educacion:target{
    transition: all 0.2s ease-in-out;
    transform: scale(1.1);
}

#contacto:target{
    transition: all 0.2s ease-in-out;
    transform: scale(1.1);
}
*/

/*section*/

section {
    padding: 10px;
    background-color: #F9FAF4;
    height: auto;
}
section h2 {
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    text-align: center;
    font-size: 70px;
    margin-bottom: 20px;
    background-color: #fff000;
}
section .contenedor {
    max-width: 1200px;
    margin: 0 auto;
    margin-top: 0 auto;
    font-family: 'Roboto', sans-serif;
}

h3 {
    background-color: #fff000;
    font-size: 20px;
    color: black;
    text-align: center;
    font-family: 'Roboto', sans-serif;
}


#sobremi .contenedor {
    background-color: white;
    color: black;
    height: 1000px;
    padding-top: 30px;
    padding-left: 60px;
    padding-right: 70px;
}

#sobremi .youtube {
    height: 340px;
    width: 560px;
    margin-left: 25%;
    margin-top: -700px;
}


#experiencia .contenedor {
    background-color: white;
    color:black;
    height: auto;
    padding-top: 30px;
    padding-left: 60px;
    padding-right: 70px;
}

#educacion .contenedor {
    background-color:white;
    height: auto;
    color: black;
    padding-top: 30px;
    padding-left: 60px;
    padding-right: 70px;
}

/* trabajos estilo */

.trabajo {
    margin-bottom: 30px;

}
.trabajo h3 {
    margin-bottom: 5px;
}
.trabajo p {
    margin-bottom: 20px;
}

/*contacto*/

#seccioncontacto {
    padding: 50px;
    text-align: center;
  }
  
#formulariocontacto {
    display: inline-block;
    text-align: left;
  }
  
#seccioncontacto label {
    display: block;
    margin-bottom: 10px;
    font-weight: bold;
  }
  
#formulariocontacto input[type="text"], #formulariocontacto input[type="email"], #formulariocontacto textarea {
    width: 100%;
    padding: 12px 20px;
    margin-bottom: 20px;
    display: inline-block;
    border: 1px solid #ccc;
    box-sizing: border-box;
  }
  
#formulariocontacto input[type="submit"] {
    background-color: black;
    color: white;
    padding: 14px 20px;
    margin-top: 20px;
    border: none;
    cursor: pointer;
    width: 100%;
  }
  
#formulariocontacto input[type="submit"]:hover {
    background-color: yellow;
  }
  
/*boton para subir*/ 

#top-button {
    position: fixed;
    right: 20px;
    bottom: 20px;
    z-index: 9999;
    color: yellow;
    padding: 10px 15px;
    border-radius: 50%;
    display: none;
  }
  
/*footer*/

footer {
    background-color: #333;
    max-width: auto   ;
    color: #fff;
    padding: 20px;
    text-align: center;
    height: 200px;
    margin-top: -15px;
}


footer .contenedor{

    color: #333;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    font-size: 18px;
}

footer .redessociales {
    margin-top: 20px;
    max-width: 1200px;
}

footer .redessociales a {
    color: #fff;
    margin-right: 10px;
    font-size: 18px;
    text-decoration: none;
}


/*Prueba menu hambur2 no andaa*/

